/* about us details (index.html) */

.about-us-details {
  padding-left: 0px;
  margin: 0;

  &__li {
    width: 450px;
    margin-right: 0;
  }

  &__symbol {
    width: 70px;
    height: 70px;
  }

  &__symbol--background {
    background-color: $buttons;
    border-radius: 4px;
    width: 450px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  &__titles {
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 1.172;
    font-weight: 700;
  }

  &__p {
    font-size: 14px;
    line-height: 1.714;
    color: $links;
    margin: 0;
    margin-bottom: 30px;
    padding-top: 10px;
  }
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
  .about-us-details {
    display: flex;
    align-items: center;

    &__li {
      width: 270px;
    }

    &__li:not(:first-child) {
      margin-left: 30px;
    }
  }
}
