.about-us-details {
  //   @extend %list;

  @media screen and (max-width: 767px) {
    margin-bottom: -30px;
  }
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }

  &__li {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  &__symbol {
    width: 70px;
    height: 70px;
  }
  &__symbol--background {
    display: flex;
    height: 120px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;

    background: $buttons;
    border-radius: 4px;
  }
  &__titles {
    margin-top: 0;
    margin-bottom: 10px;
    @include about-us-titles;

    @media screen and(max-width:767px) {
      text-align: center;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: start;
    }
  }

  &__p {
    @include about-us-p;
  }
}
