.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;

  max-width: 1600px;
  height: 400px;

  text-align: center;

  background-repeat: no-repeat;
  background-size: cover;
  background-color: $backgroundhero;
  background-image: $backgroundhero-mob-x1;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: $backgroundhero-mob-x2;
  }
  @media screen and (min-width: 480px) {
    background-image: $backgroundhero-tab-x1;
  }
  @media (min-device-pixel-ratio: 2) and (min-width: 480px),
    (min-resolution: 192dpi) and (min-width: 480px),
    (min-resolution: 2dppx) and (min-width: 480px) {
    background-image: $backgroundhero-tab-x2;
  }
  @media screen and (min-width: 768px) {
    background-image: $backgroundhero-pc-x1;
  }
  @media (min-device-pixel-ratio: 2) and (min-width: 768px),
    (min-resolution: 192dpi) and (min-width: 768px),
    (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: $backgroundhero-pc-x2;
  }
  @media screen and (min-width: 1200px) {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  &__solution {
    margin-bottom: 30px;

    @include hero-txt-mobile;
    color: $white;

    @media screen and (min-width: 1200px) {
      @include hero-txt-wide;
    }
  }
  &__button-container {
    text-align: center;
  }
  &__button {
    font-family: "Roboto", sans-serif;
    background-color: $blue-accent;
    color: $white;
    font-size: 16px;
    line-height: 1.875;
    font-weight: 700;
    text-align: center;
    border: 0;
    border-radius: 5px;
    padding: 10px 32px;
    cursor: pointer;

    &:hover:focus {
      background-color: $blue-hoverbusiness;
      transition: background-color $transition;
    }
  }
}
