.section-background {
  background-color: $buttons;
}

.our-team-title {
  @include our-team-main-title-mobile;
}

.our-team {
  &__li {
    margin-bottom: 30px;
    padding-bottom: 30px;
    background-color: $white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 5px rgba(129, 122, 122, 0.5);
  }

  &__img {
    margin-bottom: 30px;
  }

  &__titles {
    @include our-team-txt-mobile;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
  }

  &__p {
    @include our-team-txt-mobile;
    color: $links;
    text-align: center;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .our-team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team {
    grid-template-columns: repeat(4, 1fr);
  }

  .our-team-title {
    @include our-team-main-title-wide;
  }
}
