.regular-customers {
  @include flex-wrap-15px;

  &__li {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
    @media screen and (min-width: 768px) {
      width: calc((100% - 3 * 30px) / 3);
      margin: 15px;
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 6 * 30px) / 6);
      margin: 15px;
    }
  }

  &__a {
    @include flex-center-center;
    height: 92px;
    color: $lightgraycutomers;
    border: 1px solid $lightgraycutomers;
    border-radius: 4px;
    transition: color $transition, border $transition;
    &:hover,
    &:focus {
      color: $blue-accent;
      border: 1px solid $blue-accent;
      transition: color $transition, border $transition;
    }
  }

  &__icon {
    fill: currentColor;
    &:hover,
    &:focus {
      fill: currentColor;
    }
  }
}
